<div class="container">
  <div>
    <h3>
      table
    </h3>
    <div *ngFor="let team of data; let index = index">
      {{index + 1}}

      <img class="teamIcon" src="{{team.teamIconUrl}}" alt="{{team.shortName}}">
      {{team.teamName}}
      {{team.points}}
    </div>
  </div>

  <div>
    <h3>
      scorers
    </h3>
    <div *ngFor="let player of goalGetters; let index = index">
      {{index + 1}}
      {{player.goalGetterName}}
      {{player.goalCount}}
    </div>
  </div>

</div>

<div>
  <h3>
    tours
  </h3>
</div>
<div *ngFor="let tour of tours; let index = index">
  <app-tour-info [tour]="tour"></app-tour-info>
</div>
